<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
    <div class="row" id="login">
        <div class="container">
          <div class="row">
            <div class="col col2">
                <img src="assets/logo2.png" >
                <div class="contenido">
                  
                  <h3>¿Olvidaste la contraseña?</h3>
                  <p>Por favor, ingresa tu dirección de correo electrónico a continuación y te enviaremos un enlace para restablecer tu contraseña.</p>
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" name="email">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="recoverPassword()">Enviar </button>
                  </form>
                </div>
              </div>
            <div class="col col1">
              <h1 class="tit px-5">¡Oops! Parece que olvidaste tu contraseña</h1>
            </div>
          </div>
        </div>
      </div>
      
</body>

</html>
