/* Estilos personalizados para el formulario */
.custom-form .form-row {
    margin-bottom: 15px;
}

.custom-form label {
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.custom-form .form-control {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}

.btn-primary,
.btn-secondary {
    background-color: #33A69A;
    border-color: #33A69A;
    color: #fff;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    padding: 10px 16px;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #346C73;
    border-color: #346C73;
}

.background-container {
    background-color: #E3E3E3;
    padding: 20px;
    border: 2px solid #E3E3E3;
    border-radius: 10px;
}

.form-group {
    margin-top: 20px;
    font-size: 1.1rem;
}

/* Ajustes adicionales para los botones, si necesitas más personalización */
.btn-primary,
.btn-secondary {
    width: auto;
}

/* Estilos para botones */
.form-buttons {
    display: flex;
    justify-content: space-between;
    /* Esto separará los botones */
    margin-top: 30px;
    /* Esto los bajará más abajo en la pantalla */
}

/* Aplica estilos individuales para cada botón si es necesario */
.btn-descartar {
    margin-right: 10px;
    /* Esto añade espacio a la derecha del botón Descartar */
}

.btn-registrar {
    margin-left: 10px;
    /* Esto añade espacio a la izquierda del botón Registrar Despido */
}