<body class="background-container">
    <div class="scroll-container">
        <div class="container mt-4">
            <h2 class="text-center mb-4">Módulos activos</h2>
            <div class="row">
                <div *ngIf="showRecruitmentCard" class="col-lg-4 col-md-6 mb-4">
                    <a routerLink="/lista-aspirantes" class="card card-link">
                        <img src="assets/mod_reclutamiento.svg" class="card-img-top" alt="Reclutamiento">
                        <div class="card-body">
                            <h5 class="card-title">Reclutamiento</h5>
                            <p class="card-text">Gestiona el proceso de reclutamiento de nuevos empleados.</p>
                        </div>
                    </a>
                </div>
                <div *ngIf="showDespidoCard" class="col-lg-4 col-md-6 mb-4">
                    <a routerLink="/despido" class="card card-link">
                        <img src="assets/mod_despidos.svg" class="card-img-top" alt="Despido">
                        <div class="card-body">
                            <h5 class="card-title">Despido</h5>
                            <p class="card-text">Gestiona el proceso de despido de empleados.</p>
                        </div>
                    </a>
                </div>
                <div *ngIf="showNominaCard" class="col-lg-4 col-md-6 mb-4">
                    <a routerLink="/lista-nomina" class="card card-link">
                        <img src="assets/mod_nomina.svg" class="card-img-top" alt="Nómina electrónica">
                        <div class="card-body">
                            <h5 class="card-title">Nómina electrónica</h5>
                            <p class="card-text">Gestiona la nómina electrónica de los empleados.</p>
                        </div>
                    </a>
                </div>
                <div *ngIf="showSSTCard" class="col-lg-4 col-md-6 mb-4">
                    <a routerLink="/sst" class="card card-link">
                        <img src="assets/mod_sst.svg" class="card-img-top" alt="SST">
                        <div class="card-body">
                            <h5 class="card-title">SST (Seguridad y Salud en el trabajo)</h5>
                            <p class="card-text">Gestiona la seguridad y salud en el trabajo.</p>
                        </div>
                    </a>
                </div>
                <div *ngIf="showBICard" class="col-lg-4 col-md-6 mb-4">
                    <a routerLink="/informes" class="card card-link">
                        <img src="assets/mod_informes.svg" class="card-img-top" alt="Informes">
                        <div class="card-body">
                            <h5 class="card-title">Informes (BI: Business Intelligent)</h5>
                            <p class="card-text">Genera informes de datos de la empresa para análisis.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>