/* Estilos personalizados para los módulos */
.background-container {
    background-color: #FFF7F7;
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    border: 2px solid #FFF7F7;
    /* Borde */
    border-radius: 10px;
    /* Permitir desplazamiento horizontal */
}

.card-link {
    font-family: 'Inter', sans-serif;
}

.card-link:hover {
    color: #33A69A;
    /* Cambiar al color deseado */
    text-decoration: none;
    /* Eliminar el subrayado al pasar el cursor */
}

/* Tamaño de las tarjetas */
.card {
    width: 400px;
    height: 350px;
    padding: 20px;
    margin-right: 15px;
    text-decoration: none;
}

/* Tamaño de la imagen */
.card-img-top {
    margin-top: 10px;
    max-height: 200px;
    /* Altura máxima de la imagen */
    object-fit: contain;
    /* Ajustar la imagen dentro del contenedor */
}