<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <!-- Añade aquí tus enlaces a CSS externos y fuentes -->
</head>

<body>
    <div class="container-fluid h-100">
        <!-- Fila para el Navbar y el Panel Superior -->
        <div class="row">
            <!-- Sidebar navigation -->
            <div class="col-md-4 col-lg-2 bg-white" style="position: fixed; height: 100vh;">
                <!-- Añadido el color de fondo a la barra -->
                <!-- Sidebar content -->
                <div class="sidebar-sticky">
                    <div class="logo my-3">
                        <img src="assets/company_logo.svg" alt="Logo de la empresa" class="img-fluid">
                    </div>
                    <div class="d-flex align-items-center user-section my-3">
                        <img src="assets/foto_admin.svg" alt="Foto del administrador"
                            class="user-img rounded-circle mr-2">
                        <div class="user-info mr-3">
                            <h1>Martin Chen</h1>
                            <h2>Administrador</h2>
                        </div>
                        <div class="dropdown">
                            <img src="assets/icon_options.svg" class="dropdown-toggle" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Perfil</a>
                                <a class="dropdown-item" [routerLink]="'/payment-info'"  >Suscripciones</a>
                                <!-- Otros ítems del menú desplegable -->
                            </div>
                        </div>
                    </div>
                    <nav class="nav flex-column">
                        <!-- Nav items con iconos -->
                        <a class="nav-link" routerLink="/home" href="#"><img src="assets/icon_home.svg" alt=""
                                class="icon"> Tablero</a>
                        <a class="nav-link" routerLink="/company" href="#"><img src="assets/icon_empresa.svg" alt=""
                                class="icon"> Empresa</a>
                        <a class="nav-link" routerLink="/users" href="#"><img src="assets/icon_usuarios.svg" alt=""
                                class="icon"> Usuarios</a>
                        <a class="nav-link" routerLink="/payments" href="#"><img src="assets/icon_pagos.svg" alt=""
                                class="icon"> Pagos</a>
                        <a class="nav-link" routerLink="/modules" href="#"><img src="assets/icon_modulos.svg" alt=""
                                class="icon"> Módulos</a>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Fila exclusiva para el Panel Superior, para que ocupe toda la anchura de la pantalla -->
        <div class="w-100" style="padding-left: calc(100% - 100vw); ">
            <div class="panel-superior d-flex justify-content-end">
                <img src="assets/logo2.png" alt="Logo" class="logo-img">
            </div>
        </div>

        <!-- Fila para el Contenido Principal, comienza debajo del Panel Superior -->
        <div class="w-200">
            <!-- Aquí va el contenido principal de tu página cargado a través del router-outlet -->
            <div class="contenido-hijas">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</body>

</html>