*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #EDF2F7;
    /* Color de fondo para el resto de la pantalla */
}

/* Estilos para la barra de navegación lateral */
.sidebar-sticky {
    font-size: 1.3rem;
    /* Aumenta el tamaño de la fuente */
    padding: 10px;
    /* Aumenta el padding para un mejor ajuste */
    position: fixed;
    top: 0;
    height: 100vh;
    width: 350px;
    /* Ajusta el ancho del sidebar si es necesario */
    background-color: #FFFFFF;
    /* Fondo de la barra de navegación */
    z-index: 1100;
    /* Asegura que el sidebar esté sobre el contenido */
}

/* Cambia el color del texto y el stroke al pasar el mouse */
.nav-link:hover {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #2E5559;
    background-color: #F8F8F8;
}

.logo img {
    width: 300%;
    /* Aumenta según necesites; ajusta el porcentaje o usa una medida fija como px */
    height: auto;
    /* Mantiene la proporción del logo */
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 10px;
    /* Centra el logo si aumenta el tamaño */
    margin-right: auto;
    /* Centra el logo si aumenta el tamaño */
    display: block;
    /* Asegura que las margenes automáticas funcionen */
}

.user-section {
    display: flex;
    align-items: center;
}

.user-img {
    width: 85px;
    height: 85px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.user-info h1,
.user-info h2 {
    margin-right: 20px;
}

.user-info h1 {
    font-size: 23px;
    margin-bottom: -2px;
}

.user-info h2 {
    font-size: 17px;
    color: #A4A4A4;
}

.dropdown img {
    cursor: pointer;
    width: 40px;
}

.dropdown-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    /* El posicionamiento absoluto respecto a su contenedor relativo */
    width: 100%;
    /* O cualquier otra medida que necesites */
    left: 0;
    /* Alineación con el lado izquierdo del contenedor */
}

.dropdown-item {
    font-family: 'DM Sans', sans-serif;
    color: #292C32;
    font-size: 17px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-link {
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    /* Aumenta el tamaño del texto */
    padding: 12px 15px;
    /* Aumenta el padding para más espacio alrededor del texto */
    margin-left: -10px;
    margin-bottom: 15px;
    color: #292C32;
    transition: background-color 0.3s, color 0.3s;
    width: auto;
    /* Asegúrate de que los enlaces se expandan con el texto */
}

.nav-link .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Estilos para Panel Superior */
.panel-superior {
    background-color: #EDF2F7;
    position: fixed;
    left: 350px;
    top: 0;
    width: calc(100% - 350px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    z-index: 1040;
    /* Menor que el z-index del dropdown-menu */
}

.logo-img {
    width: 200px;
    /* Ajusta esto según el tamaño de tu logo */
}

.contenido-hijas {
    background-color: #EDF2F7;
    padding: 0;
    margin-top: 60px;
    /* Debe ser igual a la altura del panel superior */
    position: absolute;
    /* Cambiar de fixed a absolute */
    left: 350px;
    top: 60px;
    /* Ajuste para la altura del panel superior */
    width: calc(100% - 350px);
    bottom: 0;
    /* Añadir esta línea */
    right: 0;
    /* Añadir esta línea */
    overflow-y: auto;
    z-index: 1030;
    /* Menor que el z-index del dropdown-menu */
    box-sizing: border-box;
}