<h1 mat-dialog-title>Detalles del Aspirante</h1>
<img src="./assets/aspirante.png" alt="">
<div mat-dialog-content *ngIf="data && data.aspirante">
  <p><strong>Cédula:</strong> {{ data.aspirante.name }}</p>
  <p><strong>Nombre:</strong> {{ data.aspirante.surname }}</p>
  <p><strong>Apellido:</strong> {{ data.aspirante.phoneNumber }}</p>
  <p><strong>Oferta:</strong> {{ data.aspirante.offer_id }}</p>
  <p><strong>Estado:</strong> {{ data.aspirante.status }}</p>
</div>
<div mat-dialog-actions>
  <button (click)="closePopup()" color="warn">Close</button>
</div>


  