<div>
    <h1>CREAR CONVOCATORIA</h1>
    <form [formGroup]="convocatoriaform" (ngSubmit)="SaveConvocatoria()">
        <mat-card>
            <mat-card-content>
                <mat-form-field class="mat-50">
                    <mat-label>Titulo</mat-label>
                    <input formControlName="tittleOffer" matInput>
                </mat-form-field>
                <mat-form-field class="mat-50">
                    <mat-label>Experiencia</mat-label>
                    <input formControlName="experience" matInput>
                </mat-form-field>
                <mat-form-field class="mat-50">
                    <mat-label>Fecha de publicación</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="publishDate">
                    <mat-datepicker-toggle matIconSuffix  [for]="picker"></mat-datepicker-toggle>
                    <mat-hint>dd/MM/yyyy</mat-hint>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="mat-50">
                    <mat-label>Estado</mat-label>
                    <!-- <input matInput> -->
                    <mat-select formControlName="status">
                        <mat-option [value]="item" *ngFor="let item of estados">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput placeholder="Ex. La descripción es tal..."></textarea>
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Requisitos</mat-label>
                    <textarea matInput placeholder="Ex. Los requerimientos son.."></textarea>
                </mat-form-field>
                    
                
        
        
        
            </mat-card-content>
            <mat-card-footer>
            <div style="margin:2%;text-align: right;">
                <button mat-raised-button type="submit" color="primary"><mat-icon>save</mat-icon>Save</button>
                <button mat-raised-button color="warn" (click)="clearform()"><mat-icon>clear</mat-icon>Clear</button>
            </div>
            </mat-card-footer>
        </mat-card>
        
        </form>
</div>

