<div>
    <h1>CREAR POSTULACIÓN</h1>
    <form [formGroup]="customerform" (ngSubmit)="SaveCustomer()">
        <mat-card>
            <mat-card-content>
            
                <mat-form-field class="mat-50">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="name" matInput>
                </mat-form-field>
                <mat-form-field class="mat-50">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="surname">
                </mat-form-field>
    
                <mat-form-field class="mat-50">
                    <mat-label>Convocatoria</mat-label>
                    <mat-select formControlName="offer">
                        <mat-option [value]="item.id" *ngFor="let item of ofertas">{{item.tittleOffer}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-50">
                    <mat-label>Status</mat-label>
                    <!-- <input matInput> -->
                    <mat-select formControlName="status">
                        <mat-option [value]="item" *ngFor="let item of estados">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
        
               
                
        
        
            </mat-card-content>
            <mat-card-footer>
            <div style="margin:2%;text-align: right;">
                <button mat-raised-button type="submit" color="primary"><mat-icon>save</mat-icon>Save</button>
                <button mat-raised-button color="warn" (click)="clearform()"><mat-icon>clear</mat-icon>Clear</button>
            </div>
            </mat-card-footer>
        </mat-card>
        
        </form>
</div>