<form [formGroup]="editForm" (ngSubmit)="editAspirante()">
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content>
        <div class="form-row">
            <mat-form-field >
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Universidad</mat-label>
                <input matInput formControlName="university">
            </mat-form-field>
        </div>
        <div class="form-row mr-2 ml-2">
            <mat-form-field >
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option [value]="item" *ngFor="let item of estados">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Nombre contacto de emergencia</mat-label>
                <input matInput formControlName="nameEmergencyContact">
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field class="mr-2 ml-2">
                <mat-label>Número de contacto de emergencia</mat-label>
                <input matInput formControlName="emergencyContact">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
        <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
        <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
    </div>
</form>
