.background-container {
    background-color: #E3E3E3;
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    border: 2px solid #E3E3E3;
    /* Borde */
    border-radius: 10px;
    /* Permitir desplazamiento horizontal */
}

.btn-custom {
    background-color: #33A69A;
    /* Cambia este valor al color deseado */
    border-color: #33A69A;
    /* Cambia este valor al color deseado */
    color: #fff;
    /* Color de texto */
}

.btn-custom:hover {
    background-color: #346C73;
    /* Cambia este valor al color deseado para el hover */
    border-color: #346C73;
    /* Cambia este valor al color deseado para el hover */
}