.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

h1 {   
    margin-top: 10px;
    margin-left: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}
mat-label{
    color: #3fbbcb;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  display: flex; /* Para que el contenido sea flex */
  align-items: center; 
}

button {
    align-items: center;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #388089;
    border-radius: 5px;
    padding: 17px 20px 8px 20px;
    margin-right: 20px;
    background-color: #EDF2F7;
    border: none;
    margin-top: 0px!important;
}
button:hover {
    background-color: #48a9b5;
    color: #fff;
}



label{
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
}
table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}