<div >
  <div class="header-container">
    <h1>ASPIRANTES</h1>
  </div>
  
  <div class="align-center">
    
    <div class="d-inline-block mr-3 example-button-row">
      <button (click)="routAgregar()" >
        <i class="bi bi-person-fill-add mr-2" style="font-size: 1.5rem; color: #388089;" ></i>
        Agregar
      </button>
    </div>
    <div class="d-inline-block mr-3">
      <mat-form-field appearance="fill">
        <mat-label>Filtrar por Nombre</mat-label>
        <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">
      </mat-form-field>
    </div>
  
    <div class="d-inline-block mr-3">
      <mat-form-field appearance="fill">
        <mat-label>Filtrar por Convocatoria</mat-label>
        <mat-select (selectionChange)="onChange($event)">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Inicio Proceso">Inicio Proceso</mat-option>
          <mat-option value="Entrevistas">Entrevistas</mat-option>
          <mat-option value="Pruebas técnicas">Pruebas técnicas</mat-option>
          <mat-option value="Pruebas psicotécnicas">Pruebas psicotécnicas</mat-option>
          <mat-option value="Pruebas médicas">Pruebas médicas</mat-option>
          <mat-option value="Contratado">Contratado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="d-inline-block mr-3">
      <mat-form-field appearance="fill">
        <mat-label>Filtrar por Estado</mat-label>
        <mat-select (selectionChange)="onChange($event)">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Entrevistas">Entrevistas</mat-option>
          <mat-option value="Contratado">Contratado</mat-option>
          <mat-option value="Pruebas psicotécnicas">Pruebas psicotécnicas</mat-option>
          <mat-option value="Pruebas médicas">Pruebas médicas</mat-option>
          <mat-option value="Pruebas técnicas">Pruebas técnicas</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
  </div>
  
  
  
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">
  
    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Cedula.
      </th>
      <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
    </ng-container>
  
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Nombre
      </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        Email
      </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="offer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by offer">
        Offer
      </th>
      <td mat-cell *matCellDef="let element"> {{element.offer}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
        Status
      </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Action
      </th>
      <td mat-cell *matCellDef="let element">
        <a  (click)="Openpopup(element)">
          <i class="bi bi-search" style="font-size: 1.5rem; color: #388089;"></i>
        </a>
        <a (click)="editpopup(element)" style="margin-left: 15px;">
          <i class="bi bi-pen" style="font-size: 1.5rem; color: #388089;"></i>
        </a>
        <a (click)="edit(element)" style="margin-left: 15px;">
          <i class="bi bi-trash" style="font-size: 1.5rem; color: #388089;"></i>
        </a>
      </td>
      
     
      
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>


</div>
  