<div class="container mt-4">
    <h2 class="text-left mb-4">Editar Causal</h2>
    <form (ngSubmit)="guardarCambios()" #causalForm="ngForm">
        <div class="form-group">
            <label for="causal">Causal:</label>
            <input type="text" class="form-control" id="causal" name="causal" [(ngModel)]="causal.causal" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="causal.descripcion"
                required></textarea>
        </div>
        <div class="form-group">
            <label for="creador">Creador:</label>
            <input type="text" class="form-control" id="creador" name="creador" [(ngModel)]="causal.creador" disabled>
        </div>
        <div class="form-group mt-3"> <!-- Agregar un margen superior de 3 unidades -->
            <button class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
        </div>

    </form>
</div>