<body class="background-container">
    <div class="container mt-4">
        <h2 class="text-left mb-4">Creación de usuario</h2>

        <form class="custom-form">
            <!-- Campos de datos personales -->
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Correo para solicitar creación de usuario</label>
                        <input type="text" class="form-control" id="correo">
                    </div>
                </div>
            </div>


            <!-- Botones -->
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" routerLink="/users" class="btn btn-secondary btn-lg">Atrás</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" routerLink="/users" class="btn btn-primary btn-lg ml-auto">Enviar
                            correo</button>
                    </div>
                </div>
            </div>



        </form>
    </div>
</body>