<body class="background-container">
    <div class="container mt-4">
        <h2 class="text-left mb-4">Creación de usuario</h2>

        <form class="custom-form" (ngSubmit)="enviarDatos()">
            <!-- Campo desplegable para roles -->
            <div class="form-group">
                <label for="rol">Seleccionar Rol</label>
                <select class="form-control" id="rol" [(ngModel)]="rol" name="rol">
                    <option>Reclutador</option>
                    <option>Nómina</option>
                </select>
            </div>

            <!-- Campos de datos personales -->
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="correo">Correo para solicitar creación de usuario</label>
                        <input type="text" class="form-control" id="correo" [(ngModel)]="correo" name="correo">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" [(ngModel)]="apellido" name="apellido">
                    </div>
                </div>
            </div>

            <!-- Botones -->
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" routerLink="/users" class="btn btn-secondary btn-lg">Atrás</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" routerLink="/users" class="btn btn-primary btn-lg ml-auto">Enviar
                            correo</button>
                    </div>
                </div>
            </div>



        </form>
    </div>
</body>