/* Estilos personalizados para el formulario */
.custom-form .form-row {
    margin-bottom: 15px;
}

.custom-form label {
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.custom-form .form-control {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}

.btn-secondary {
    background-color: #33A69A;
    /* Cambia este valor al color deseado */
    border-color: #33A69A;
    /* Cambia este valor al color deseado */
    color: #fff;
    /* Color de texto */
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}

.btn-primary {
    background-color: #33A69A;
    /* Cambia este valor al color deseado */
    border-color: #33A69A;
    /* Cambia este valor al color deseado */
    color: #fff;
    /* Color de texto */
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    margin-left: 500px;
}

.btn-primary:hover {
    background-color: #346C73;
    /* Cambia este valor al color deseado para el hover */
    border-color: #346C73;
    /* Cambia este valor al color deseado para el hover */
}

.btn-secondary:hover {
    background-color: #346C73;
    /* Cambia este valor al color deseado para el hover */
    border-color: #346C73;
    /* Cambia este valor al color deseado para el hover */
}

/* Estilos personalizados para los botones */
.form-group {
    margin-top: 20px;
    /* Ajustar según necesidades */
}

.background-container {
    background-color: #E3E3E3;
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    border: 2px solid #E3E3E3;
    /* Borde */
    border-radius: 10px;
    /* Permitir desplazamiento horizontal */
}