<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupón</title>
</head>

<body ng-app="cuponApp" ng-controller="cuponController">
  <div class="row" id="login">
    <div class="container">
      <div class="row">
        <div class="col col2">
          <div class="contenido">
            <img src="assets/talent_hub_l.svg" alt="">
            <form ng-submit="onSubmit()">
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputPassword1" ng-model="codigo" name="codigo">
                <label for="exampleInputPassword1" class="form-label">Ingresa tu cupón</label>
              </div>
              <button type="submit" class="btn btn-primary">Canjear Cupón</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="angular.min.js"></script>
  <script src="cuponController.js"></script>
</body>

</html>
