<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">

</head>

<body>
    <section>
        <div class="container py-3">
            <div class="row aviso py-4 px-5">
                <div class="col-auto col1">
                    <i class="bi bi-exclamation-circle" style="font-size: 2rem; color: #F5F6FD"></i>
                </div>
                <div class="col">
                    <p class="plan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe explicabo aliquam corrupti commodi laudantium et repudiandae aspernatur pariatur dolore autem tempora porro, esse exercitationem dicta quod.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="container-plan">
                <div (click)="cambiarPlan()" class="payment-method">
                    <div  class="text">
                        <p class="plan">Tu plan</p>
                        <p class="contract">{{ planData.contract }}</p>
                        <p class="card-number">Tarjeta Visa terminada en {{ planData.cardNumber }}</p>
                        <p class="deadline">Le quedan {{ planData.deadline }} días de su plan</p>
                    </div>
                </div>
    
            </div>
    
            <div class="container-plan-buttom">
                <div (click)="registerCoupon()" class="coupon">
                    <img src="assets/pencil.svg" class="pencil" >
                    <p>
                        Registrar Cupón
                    </p>
                </div>
                <div (click)="placeCard()" class="pay">
                    <img src="assets/payCard.svg" class="pencil" >
                    <p>Método de Pago</p>
                </div>
            </div>
    
        </div>
    </section>
    


</body>

</html>