<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
    <div class="row" id="login">
        <div class="container">
          <div class="row">
            <div class="col col2">
                <div class="contenido">
                  
                  <h3>Crear nueva contraseña</h3>
                  <p>Por favor, introduce tu nueva contraseña a continuación. Asegúrate de elegir una combinación segura de letras, números y caracteres especiales para proteger tu cuenta.</p>
                  <form (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contraseña nueva</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="contrasena" name="contrasena">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword2" class="form-label">Confirmar Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword2" [(ngModel)]="contrasena_c" name="contrasena_c">
                      <!-- error message -->
                      <div *ngIf="contrasena !== contrasena_c" class="text-danger warning-message">Las contraseñas no coinciden.</div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" [disabled]="contrasena !== contrasena_c" [ngStyle]="{'background-color': contrasena !== contrasena_c ? '#346C73' : ''}">Restablecer</button>
                  </form>
                  
                </div>
              </div>
            <div class="col col1">
            </div>
          </div>
        </div>
      </div>
      
</body>

</html>
