<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<body class="background-container">
    <div class="container mt-4">
        <!-- Sección para mostrar el total de la liquidación -->
        <div class="row">
            <div class="col-5 mb-3">
                <div class="alert alert-info d-flex align-items-center" role="alert">
                    <div class="total-text">
                        <strong>El total a pagar en el mes de {{ mesActual }} es de:</strong> ${{ totalLiquidacion }}
                    </div>
                    <div class="ml-auto"> <!-- Esta clase empuja el botón al extremo derecho -->
                        <button class="btn btn-dispersar">Dispersar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="text-left mb-4">Lista de Empleados</h2>
            </div>
        </div>
        <!-- Filtros -->
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre">Filtrar por Nombre:</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="status">Filtrar por status de novedad:</label>
                    <select class="form-control" id="status">
                        <option value="">Todos</option>
                        <option value="activo">Revisado</option>
                        <option value="inactivo">No revisado</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="departamento">Filtrar por Departamento:</label>
                    <select class="form-control" id="departamento">
                        <option value="">Todos los departamentos</option>
                        <!-- Opciones de departamento se agregarán dinámicamente -->
                    </select>
                </div>
            </div>
        </div>

        <!-- Lista de empleados -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Departamento</th>
                            <th>Tipo de Contrato</th>
                            <th>Salario</th>
                            <th>Fecha de Inicio</th>
                            <th>Status novedad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleado of empleados; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ empleado.nombre }}</td>
                            <td>{{ empleado.departamento }}</td>
                            <td>{{ empleado.tipoContrato }}</td>
                            <td>${{ empleado.salario }}</td>
                            <td>{{ empleado.fechaInicio }}</td>
                            <td>{{ empleado.novedad }}</td>
                            <td>
                                <!-- Botones de acciones -->
                                <button class="btn btn-custom-search btn-sm" (click)="agregarNovedad(empleado.id)">
                                    <i class="fas fa-plus-circle"></i> <!-- Icono de novedad -->
                                </button>
                                <button class="btn btn-custom-search btn-sm"
                                    [routerLink]="['/ver-empleado', empleado.id]">
                                    <i class="fas fa-search"></i> <!-- Icono de lupa -->
                                </button>
                                <button class="btn btn-danger btn-sm" (click)="eliminarEmpleado(empleado.id)">
                                    <i class="fas fa-trash"></i> <!-- Icono de caneca -->
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>